repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
      -   id: check-yaml
      -   id: end-of-file-fixer
      -   id: requirements-txt-fixer
      -   id: trailing-whitespace
          args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        exclude: 'venv'

  -   repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.19.1
      hooks:
        - id: mypy
          args: [--ignore-missing-imports]
